.icon-card {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
    // padding: 0 70px;
    height: 100%;
    background-color: $black;
    .icon{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-color;
        i{
            font-size: 60px;
        }
    }
    .content{
        display: flex;
        align-items: center;
        gap: 8px;
        flex-direction: column;
        .title{
            color: $white;
            letter-spacing: 0.48px;
            margin-bottom: 0;
        }
        .desc{
            font-family: $body-font;
            font-size: 16px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            color: $primary-color;
            margin-bottom: 0;
            
        }
    }
}