.icon-card {
    &.style-4 {
        .inner-wrapper {
            padding: 0;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            .icon {
                width: 70px;
                height: 70px;
                flex-shrink: 0;
                background-color: #EAEAEA;
                @include transition;
                i{
                    font-size: 30px;
                    line-height: 30px;
                    color: $primary-color;

                }
            }
            .title{
                text-transform: capitalize;
            }
            .content {
                text-align: start;
                gap: 0;
                .title{
                    font-family: $heading-font;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 36px;
                    color: $black;
                }
                .sub-title {
                    font-family: $body-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 29px;
                    color: $primary-color;
                    margin-bottom: 0;
                }
            }
        }

        &:hover {
            .icon {
                background-color: $black;
                i{
                    color: $white;
                }
            }

            .content {
                .title {
                    color: $black;
                }
            }
        }
    }
}