.accordion {
  .accordion-item {
    background-color: $white;
    margin: 16px 0;
    border-radius: 0;
    border: 1px solid $gray-50;
    overflow: hidden;
    box-shadow: none;
    &:first-child {
      border-top: 1px solid #e1e2e7;
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .accordion-button {
      padding: 40px 28px;
      padding-bottom: 16px;
      font-family: $heading-font;
      font-size: 24px;
      font-weight: 600;
      color: $black;
      line-height: 33px;
      letter-spacing: 0.48px;
      text-align: left;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      background-color: $white;
      border-bottom: 1px solid $gray-50;
      box-shadow: none;
      &.collapsed {
        color: $black;
        background-color: transparent;
        padding-bottom: 40px;
        border-bottom: transparent;
        &:after {
          content: "";
        }
      }

      &:after {
        content: "\F63B";
        font-family: $font-bootstrap;
        background-image: none;
        color: $black;
      }
    }
    .accordion-body {
      background-color: $white;
      padding: 16px 40px 40px;
      @include transition;
    }
  }
}
