.accordion {
  .accordion-item {
    background-color: #F2F3F6;
      margin: 16px 0;
      border-radius: 8px;
      border: 1px solid #E1E2E7;
      overflow: hidden;
      box-shadow: none;
    &:first-child{
      border-top: 1px solid #E1E2E7;
    }
    &:last-child{
      border-bottom: 1px solid #E1E2E7;
    }
    .accordion-button {
      padding: 20px 40px;
        font-family: $heading-font;
        font-size: 20px;
        font-weight: 600;
        color: #1F1F1F;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        background-color: $white;
        border: none;
        box-shadow: none;
        color: $orange-color;
        &.collapsed{
          color: $black;
          background-color: #F2F3F6;
          &:after{
            color: $black;
          }
        }

      &:after {
        content: "\F22C";
        font-family: $font-bootstrap;
        background-image: none;
        color: $orange-color;
      }
    }
    .accordion-body {
      background-color: $white;
      padding: 0 40px 20px 40px; 
      @include transition;
    }
  }
}
