.our-services-item {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 30px 20px 40px;
    background-color: $white;
    @include transition;
    @include xl{
        padding: 20px;
    }
    .stack-text {
        h2 {
            font-family: $heading-font;
            font-size: 100px;
            line-height: normal;
            text-align: right;
            font-weight: 400;
            -webkit-text-stroke: 1px #CCCCCC;
            color: transparent;
        }
    }

    .icon {
        padding-top: 12px;
        padding-bottom: 47px;

        span {
            font-size: 50px;
            color: $primary-color;
            width: 86px;
            height: 86px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            text-align: center;
            background-color: transparent;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            @include transition;
        }
    }

    .content {
        p {
            font-family: $body-font;
            line-height: 29px;
            font-size: 16px;
            margin: 0px;
        }

        padding-bottom: 30px;
        border-bottom: 1px solid #ECECEC;
        margin-bottom: 30px;
    }

    .title-wrapper {
        .title {
            font-size: 30px;
            line-height: 35px;
            font-family: $heading-font;
            color: $black;
            font-weight: 400;
            margin-bottom: 30px;
        }

        .icon {
            font-size: 34px;
            color: $black;
        }
    }

    &:hover {
        background-color: $primary-color;

        .icon {
            span {
                background-color: $black;
                color: $white;
            }
        }

        .content {
            p {
                color: $white;
            }
        }

        .title-wrapper {
            .title {
                color: $white;
            }

            .icon {
                color: $white;
            }
        }
    }
}