.testimonial-card {
  &.style-2 {
    padding: 0;
    background-color: unset;
    .content-wrapper {
      gap: 60px;
    }
    .text {
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.56px;
    }
  }
}
