.testimonial-card {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  background-color: $bg-color;

  @include sm {
    padding: 35px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .content {
    img {
      margin-bottom: 16px;
    }
    .text {
      margin: 0;
      font-size: 20px;
      line-height: 34px;
      font-weight: 400;
      color: $gray-4;
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        font-size: 16px;
      }
    }
  }
  .meta-user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 120px;
      height: 120px;
      border-radius: 100px;
      overflow: hidden;
    }
    .user-info {
      display: flex;
      align-items: center;

      gap: 20px;

      .info {
        display: flex;
        flex-direction: column;

        .title {
          font-weight: 500;
          color: $white;
          margin-bottom: 0;
        }
        .desc {
          font-weight: 400;
          color: $gray-4;
          margin-bottom: 0;
        }
      }
    }
  }
}
