.testimonial-card {
    &.style-two {
        padding: 66px 44px;
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            padding: 30px;
        }

        .icon {
            align-self: self-start;
        }
        .content-wrapper {
            .content {
                .text {
                    line-height: 30px;
                }
            }
            .meta-user {
                .icon {
                    display: none;
                }
            }
        }
    }
}
