// SERVICE AREA
/* Genaral */

.title-center {

  p {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #ED3B3B;

  }
}

.sub-title-center {
  h2 {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 60px;
    color: #151515;
  }
}

.title {

  p {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #ED3B3B;
  }
}

.sub-title {

  h2 {
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
    color: #151515;
  }
}

/* Styles for screens with a maximum width of 600 pixels */
.title-center {
  p {

    @include sm {
      font-size: 15px;
      line-height: 25px;

    }
  }
}

.sub-title-center {
  h2 {
    @include sm {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;

    }
  }
}

.title {
  p {
    @include sm {

      font-size: 15px;
      line-height: 25px;

    }
  }
}

.sub-title {
  h2 {
    @include sm {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;

    }
  }
}


.button {
  padding: 10px 20px;
  background: $primary-color;
  color: #fff;
  border: none;
  text-transform: uppercase;
}

/* End Genaral */

// SERVICE AREA
.service-card {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 30%) !important;
  background-color: #E3DBD8;
  width: 19rem;
  gap: 20px !important
}

.card-content {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0% 30%) !important;
  margin: .3px;
  background-color: #fff;
}

.service .icon {
  background: $primary-color;
  padding: 20px 20px;
  margin-top: 5%;
}

.service .card-content .card-text h3 {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0;
  color: black;
}

.service .card-content .card-text p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 35px;
  overflow: hidden;
  color: #666666;
}

.s-bottom-text {
  margin-top: 70px;

  @include sm {
    margin-top: 20px;
    font-size: 15px;
    flex-direction: column;
  }

  .s-highlight {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $primary-color;
  }
  button{
    &:hover{
      background-color: $black;
      color: $white;
    }
  }

}

.card-wrapper {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
  overflow: hidden;
  width: 18rem;
  position: relative;

  .hover-content {
    width: 17rem;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    transform: translateY(100%);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    .card-text {
      position: absolute;
      background-color: $primary-color;
      content: '';
      top: 72%;
      right: 3;
      left: 0;

      h3 {
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
      }

      div {
        .fa-circle-right {
          font-size: 30px;
          color: #fff;

          &:hover {
            color: #001;
            transition: 1s;
          }
        }
      }
    }
  }


  &:hover .hover-content {
    transform: translateY(-9%);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    border-radius: 0%;
  }
}


// HEADLINE
.heading-line::before {
  content: '';
  display: block;
  width: 4rem;
  height: 0.1rem;
  background-color: $primary-color;
  margin: 0 auto;
}


.heading-line::after {
  content: '';
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.3rem;
  transform: translateY(-0.3rem);
  background-color: $primary-color;
  border-radius: 50%;
  margin: 0 auto;
}