.slider-area {
  &.style-2 {
    position: relative;

    .single-slider {
      background-size: unset;
      background-position: bottom right;
      padding-top: 350px;
      padding-bottom: 215px;
      
      @include lg{
        background-position: top left;
      }
      @include md{
        padding-top: 290px;
      }
      @include sm{
        padding-top: 270px;
      }
      .slider-content{
        .slider-short-title{
          letter-spacing: 4px;
        }
        .slider-title{
          @include md{
            font-size: 60px;
            line-height: 65px;
        
          }

          span{
            border-bottom: none;
          }
        }
        .shape-1{
          @include xl{

          }
          @include lg{
            right: 45px;
            top: -96px;
            // display: none;
          }
        }
      }
    }
    .slider-bg{
      position: absolute;
      top: 100px;
      right: 0;
      @include xl{
        width: 100%;
        height: 100%;
        left: 250px;
        right: unset;
      }
      img{
        @include xl{
          width: 100%;
          height: 100%;
        }
      }
    }
    .slider-shape {
      position: absolute;
      top: 132px;
      left: 0;
      width: 100%;
      @include xl{
        top: unset;
        bottom: 0;
        height: 100%;
      }
      @include rmaxwd(991){
        height: 100%;
        width: 110%;
      }
      @include sm{
        top: 0;
        width: 200%;
      }
      img{
        width: 100%;
        @include xl{
          height: 100%;
        }
        @include rmaxwd(991){
          height: 100%;
        }
      }
    }
  }
}