.slider-area {
  &.style-2 {
    position: relative;
    .single-slider{
      padding-top: 166px;
      padding-bottom: 140px;
      @include rmaxwd(1199){
        height: auto;
      }
    }
    .slider-content{
      text-align: start;
      .slider-btn-wrapper{
        justify-content: start;
        align-items: center;
        gap: 36px;
        .theme-btn{
          a{
            background-color: $white;
            color: $black;
          }
        }

      }
    }
    .image-wrapper{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      img{

      }
    }
  }
}