.hero-area{
    height: 870px;
    // overflow: hidden;
    position: relative;
    .bg-img{
        text-align:end;
    }
    .hero-shap-1{
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 1600px;
        }
    }
}