.info-card {
    background-color: $bg-color;
    padding: 54px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    .shape{
        position: absolute;
        right: 24px;
        top: 24px; 
        &.style-2{
            top: unset;
            bottom: 24px;
        }
    }
    .title {
        color: $white;
        font-size: 38px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0.76px;
    }

    .desc {
        color: $black-50;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        margin-top: 16px;
        margin-bottom: 0;
        color: $gray-4;
    }

    .theme-btn-wrapper {
        margin-top: 32px;
    }
}