.info-card {
    background: linear-gradient(324deg, #ED3B3B 11.7%, rgba(0, 0, 0, 0.33) 148.81%);
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    .title {
        color: $white;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 0;
    }

    .desc {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        margin-bottom: 0;
        margin-top: 10px;

    }

    .link-btn {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        margin-top: 30px;
        border-radius: 50%;
        flex-shrink: 0;
        i {
            color: $white;
            font-weight: 400;
        }
    }
}