.footer {
  &.style-2 {
    padding: 0 108px;
    background-position: center;
    .footer-sec {
      max-width: 1700px;
      width: 100%;
      background-color: transparent;
    }
    .footer-widget-text {
      max-width: 300px;
    }
    .divider {
      margin: 0 80px;
      width: 1px;
      height: 280px;
      background-color: $gray-2;
    }
  }
}
