.footer {
  &.style-2 {
    padding: 0 108px;
    background-position: center;
    .section-title {
      .short-title {
        color: $second-primary-color;
        img {
          width: 100px;
          height: 100px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .footer-sec {
      max-width: 1700px;
      width: 100%;
      background-color: transparent;
      padding-top: 70px;
    }
    .footer-widget-text {
      max-width: 420px;
    }
    .footer-widget .footer-widget-contact .footer-contact ul li {
      justify-content: start;
      text-align: start;
    }
    .divider {
      margin: 0 80px;
      width: 1px;
      height: 280px;
      background-color: $gray-2;
    }
    .footer-bottom-area {
      border-top: 1px solid $gray-2;
    }
  }
}
