.about-page {
  background-color: $black;
}
// About Us Area
.about-us-area {
  &.style-5 {
    margin-top: -140px;
    position: relative;
    z-index: 2;
    .content-wrapper {
      .counter-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
        .counter-item {
          h3 {
            color: $primary-color;
            font-size: 38px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0.76px;
            margin-bottom: 8px;
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 20.8px */
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin-bottom: 0;
            color: $black;
          }
        }
      }
    }
  }
}
// Counter Area
.counter-up-area {
  &.style-3 {
    padding-top: 134px;
    padding-bottom: 138px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding: 70px 0;
    }
  }
}
// Causes area
.causes-area {
  &.style-3 {
    .inner-wrapper {
      button.slider-arrow-btn {
        background-color: $white;
        &:hover {
          background-color: $primary-color;
        }
        &.prev-btn {
          background-color: $primary-color;
        }
      }
      .slick-dots li.slick-active {
        background-color: $primary-color;
        border-color: $primary-color;
      }
      .theme-btn-wrapper {
        .theme-btn {
          a {
            background-color: $primary-color;
            color: $black;
          }
        }
      }
    }
  }
}

// FAQ Area
.faq-area {
  &.style-3 {
    padding-top: 138px;
    padding-bottom: 142px;
    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding: 70px 0;
    }
    .section-title {
      margin-bottom: 30px;
      @include rmaxwd(575) {
        margin-bottom: 20px;
      }

      .title {
        br {
          @media only screen and (min-width: 992px) and (max-width: 1399px) {
            display: none;
          }
        }
      }
    }
    .video-popup-card.style-three {
      margin-left: 220px;

      .video-popup-image {
        @media only screen and (min-width: 992px) and (max-width: 1280px) {
          height: 707px;
        }
      }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        margin-left: 90px;
      }
      @include rmaxwd(1199) {
        margin-left: 30px;
        margin-top: 80px;
      }
      @include rmaxwd(767) {
        margin-left: 0 !important;
        margin-top: 40px !important;
      }
    }
  }
}

// Timeline Area
.timeline-area {
  &.style-1 {
    background-color: #f3f8fc;
    padding-top: 138px;
    padding-bottom: 144px;

    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding: 70px 0;
    }
  }
}

// Testimonial Area
.about-page-testimonial-area {
  background-color: #f3f7fc;
  padding-top: 140px;
  padding-bottom: 124px;

  @include rmaxwd(991) {
    padding: 100px 0;
  }
  @include rmaxwd(767) {
    padding: 70px 0;
  }
  .testimonial-slider-wrapper {
    margin-top: -40px;
    margin-bottom: -40px;
  }
}

// Client Logo
.brand-area {
  &.style-1 {
    padding-top: 138px;
    padding-bottom: 132px;

    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding: 70px 0;
    }
  }
}
