// Cayses-area
.causes-area {
  &.style-3 {
    .section-title-wrapper {
      margin-bottom: 72px;
      .short-title {
        color: $second-primary-color;
      }
    }
    .theme-btn-wrapper {
      align-items: end;
    }
    button.slider-arrow-btn {
      background-color: $second-primary-color;
    }
    .slick-dots {
      li {
        border: 1px solid $gray-4;
        &.slick-active {
          background-color: $second-primary-color;
          border-color: $second-primary-color;
        }
        &:hover {
          background-color: $second-primary-color;
          border-color: $second-primary-color;
        }
        button {
          &:hover {
            background-color: unset;
            border-color: unset;
          }
        }
      }
    }
  }
}
// Donate-area
.donate-area {
  &.style-3 {
    .image-wrapper {
      padding: 0 74px;
      margin-top: -170px;
    }
    .title {
      h2 {
        text-align: center;
        color: $white;
        font-size: 200px;
        font-weight: 900;
        line-height: 260px;
        letter-spacing: 4px;
        text-transform: capitalize;
      }
    }
    .donate-form {
      position: relative;
      .curve-img {
        position: absolute;
        left: 0;
        top: 84px;
        transform: translate(-100%);
      }
      .theme-btn {
        a {
          background-color: $second-primary-color;
        }
      }
    }
  }
}
// Why Choose Area
.feature-area {
  &.style-2 {
    margin-top: -65px;
    position: relative;
    z-index: 2;

    .feature-area-inner {
      background-color: $black-50;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
// image-card-area
.image-card-area {
  &.style-3 {
    .image-wrapper {
      .video-popup-btn {
        a {
          background-color: $second-primary-color;
        }
      }
      img {
        filter: unset;
      }
      &:after {
        background-color: transparent;
      }
    }
    .image-card {
      .icon-wrapper {
        &:before {
          background-color: $second-primary-color;
        }
      }
    }
    .icon-card {
      .content {
        .desc {
          color: $second-primary-color;
        }
      }
    }
    .content-wrapper {
      top: 148px;
      .inner-wrapper {
        .shape {
          position: absolute;
          left: -100px;
          top: 30%;
        }
      }
      .theme-btn {
        margin-top: 48px;
      }
    }
  }
}
// Event-area
.event-area {
  &.style-3 {
    .theme-btn-wrapper {
      position: relative;
      .theme-btn {
        a {
          &:hover {
            background-color: $second-primary-color;
          }
        }
      }
      .shape {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(100%, 0);
      }
    }
  }
}
// Testimonial-area
.testimonial-area {
  &.style-3 {
    position: relative;
    .slick-slide {
      margin: 0 10px;
      position: relative;
      z-index: 1;

      &.slick-current {
        @include transition;
        box-shadow: 0px 10px 44px 0px rgba(4, 43, 77, 0.08);
        background-color: $white;
        z-index: 10;

        @include rmaxwd(991) {
          box-shadow: 1px 8px 44px rgba(20, 20, 43, 0.03);
        }
        .content {
          .text {
            color: $black-3;
          }
        }
        .meta-user .user-info .info {
          .title {
            color: black;
          }
          .desc {
            color: $black-3;
          }
        }
      }
    }
    .slick-dots {
      justify-content: center;
      li {
        border-color: $white;
        &.slick-active {
          background-color: $second-primary-color;
          border-color: $second-primary-color;
        }
      }
    }

    /* the parent */
    .slick-list {
      margin: 0 -10px;
    }
    .testimonial-slider-three {
      margin-top: 70px;
    }
    .slider-image {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      img {
        height: 100%;
      }
    }

    button.slider-arrow-btn {
      top: -30%;
      background-color: transparent;
      border-color: $gray-4;
      &:hover {
        &:before {
          background-color: $second-primary-color;
        }
      }
      i {
        color: $white;
      }
      &.prev-btn {
        background-color: $second-primary-color;
        border-color: $second-primary-color;
      }
    }
    .background-image-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      height: 100%;
      .image,
      .bg-shape {
        img {
          height: 100%;
        }
      }
    }
  }
}
// Testimonial area
.testimonial-area {
  &.style-3 {
    padding-top: 138px;
    padding-bottom: 134px;

    @include rmaxwd(991) {
      padding: 100px 0;
    }
    @include rmaxwd(767) {
      padding: 70px 0;

      .section-title {
        margin-bottom: 30px;
      }
    }

    .accordion-wrapper {
      @include rmaxwd(1199) {
        padding-right: 0 !important;
        padding-bottom: 80px;
      }
    }
  }
}

// Event area style-2
.event-area {
  &.style-2 {
    .section-title {
      text-align: center;
      justify-content: center;
      align-items: center;
      .short-title {
        width: 100%;
        img {
          left: 72px;
        }
      }
    }
  }
}
