// Categories-area
.categories-area {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  .card-wrapper {
    display: flex;
    gap: 1px;
    @include rmaxwd(1199) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

// About Us Area
.about-us-area {
  &.style-2 {
    padding-top: 140px;
    padding-bottom: 144px;

    @include md() {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include sm() {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .about-info-card {
      .about-info-content {
        padding-left: 120px;

        .text {
          @media only screen and (min-width: 992px) and (max-width: 1024px) {
            padding-right: 120px;
          }
        }

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          padding-left: 50px;
        }

        @include rmaxwd(1199) {
          padding-left: 0;
          padding-top: 300px;
        }

        @media only screen and (min-width: 651px) and (max-width: 767px) {
          padding-top: 150px;
        }

        @include rmaxwd(651) {
          padding-top: 100px;
        }
      }
    }
  }
}

// Causes-area style-2
.causes-area {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  &.style-2 {
    .counter-card-wrapper .slick-dots {
      transform: none;
      position: unset;
      margin-top: 60px;
    }
    .slick-list {
      overflow: visible !important;
      position: relative;
      &:before {
        width: 625px;
        height: 657px;
        content: "";
        background-color: $bg-color;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        transform: translate(-100%);
      }
    }
    .slider-arrow-btn {
      &.next-btn {
        display: none !important;
      }
    }
  }
}

.image-card-area {
  &.style-2 {
    .content-wrapper {
      top: 148px;
      .inner-wrapper {
        .shape {
          position: absolute;
          left: -100px;
          top: 30%;
        }
      }
      .theme-btn {
        margin-top: 48px;
      }
    }
  }
}

// Donate-area Style-2
.donate-area {
  &.style-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .image-wrapper {
      margin-left: -50%;
      margin-bottom: -25%;
      margin-right: -20%;
    }
    .donate-form {
      border-radius: 0;
    }
  }
}

// Testimonial area
.testimonial-area {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .section-title-wrapper {
    position: relative;
    .image {
      position: absolute;
      right: 80px;
      top: 50%;
      transform: translate(-100%, 0);
    }
  }
  .section-title {
    .desc {
      color: $gray-4;
    }
  }
  .testimonial-slider-two {
    .slick-list {
      margin: 0 -10px;
      overflow: visible !important;
    }
    .slick-slide {
      margin: 0 10px;
    }
  }
  &.style-2 {
    button.slider-arrow-btn {
      bottom: unset;
      top: 50%;
      &.prev-btn {
        right: unset;
        left: 0;
        transform: translate(-50%, -50%);
      }
      &.next-btn {
        right: 0;
        transform: translate(50%, -50%);
      }
    }
    .slick-dots {
      justify-content: center;
    }
  }
}

// event area
.event-area {
  .theme-btn-wrapper {
    .theme-btn {
      a {
        background-color: $black;
        color: $white;
        border-color: transparent;
        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}
