// Categories-area
.categories-area {
  .card-wrapper {
    display: flex;
    gap: 1px;
    @include rmaxwd(1199) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

// About Us Area
.about-us-area {
  &.style-2 {
    padding-top: 140px;
    padding-bottom: 144px;

    @include md() {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    @include sm() {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .about-info-card {
      .about-info-content {
        padding-left: 120px;

        .text {
          @media only screen and (min-width: 992px) and (max-width: 1024px) {
            padding-right: 120px;
          }
        }

        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          padding-left: 50px;
        }

        @include rmaxwd(1199) {
          padding-left: 0;
          padding-top: 300px;
        }

        @media only screen and (min-width: 651px) and (max-width: 767px) {
          padding-top: 150px;
        }

        @include rmaxwd(651) {
          padding-top: 100px;
        }
      }
    }
  }
}

.image-card-area {
  &.style-2 {
    .content-wrapper {
      top: 148px;
      .inner-wrapper {
        .shape {
          position: absolute;
          left: -100px;
          top: 30%;
        }
      }
      .theme-btn {
        margin-top: 48px;
      }
    }
  }
}

// Donate-area Style-2
.donate-area {
  &.style-2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .image-wrapper {
      margin-left: -50%;
      margin-bottom: -25%;
      margin-right: -20%;
    }
    .donate-form {
      border-radius: 0;
    }
  }
}

// Testimonial area
.testimonial-area {
  .section-title {
    .desc {
      color: $gray-4;
    }
  }
}
