.about-agency-area {
    .about-agency-image {
        position: relative;
        @include lg{
            height: 100%;
        }
        img {
            width: 100%;
            object-fit: cover;
            @include transition();
            @include lg{
                height: 100%;
            }
            &:hover {
                transform: scale(1.03);
            }
        }

        .about-img-two {
            position: absolute;
            right: -110px;
            bottom: -50px;
            width: 306px;
            height: 304px;
            border-radius: 15px;
            @include xl{
                right: -28px;
                bottom: -28px;
            }
            @include lg{
                right: 0;
                bottom: 0;
                width: 220px;
                height: 220px;
            }
            @include rmaxwd(991){
                right: 0;
                bottom: 0;
                width: 220px;
                height: 220px;
            }
            @include sm{
                width: 180px;
                height: 180px;
            }
            img {
                width: 100%;
                object-fit: cover;
                @include transition();

                &:hover {
                    transform: scale(1.03);
                }
            }

        }
    }

    .about-agency-info {
        @include xl{
            padding-left: 30px;
        }
        .section-title{
                margin-bottom: 40px;
                @include sm{
                    margin-bottom: 30px;
                }
        }
        .agency-work-wrapper {
            margin-top: 60px;
            margin-bottom: 40px;
            @include xl{
                margin: 18px 0;
            }
            @include sm{
                margin: 40px 0;
            }
        }

        .agency-progress-wrapper {
            margin-bottom: 55px;
            @include xl{
                margin-bottom: 24px;
            }
            .skill-progressbar {
                .progress-inner {
                    .progress-inner-item {
                        .skill-title {
                            font-family: $heading-font;
                            font-size: 20px;
                            font-weight: lighter;
                            line-height: 35px;
                            color: $black;
                        }

                        .progressbar-number {
                            .progress-number-count {
                                .progress-percent {
                                    font-weight: 600;
                                    font-family: $heading-font;
                                    font-size: 20px;
                                    color: $black;
                                }
                            }
                        }
                    }

                    .progress-content-outter {
                        .progress-content {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    &.style-2{
        .about-agency-image{
            margin-left: -292px;
            @include rmaxwd(1399){
                height: 100%;
                margin-left: 0;
            }
            img{
                @include rmaxwd(1399){
                    height: 100%;
                }
            }
        }
        .about-img-two{
            &.style-2{
                right: -62px;
                @include rmaxwd(1399){
                    right: 8px;
                    bottom: 8px;
                }
                @include rmaxwd(1199){
                    padding: 15px;

                }
                @include md{
                    right: 10px;
                    bottom: 10px;
                }
                @include sm{
                    padding: 15px;
                }
                .title{
                    @include rmaxwd(1199){
                        margin-bottom: 10px;
                    }
                    @include sm{
                        margin-bottom: 8px;
                    }
                    h3{
                        @include rmaxwd(1199){
                            padding-bottom: 8px;
                            margin-bottom: 0;
                        }
                        @include sm{
                            padding-bottom: 8px;
                            margin-bottom: 0;
                        }
                    }
                }
                .counter-item{
                    @include sm{
                        gap: 8px;
                        // flex-direction: column; 
                    }
                }
            }
        }
    }
}