.event-card {
  display: flex;
  align-items: center;
  &:hover {
    .image-wrapper {
      .arrow_button {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  @include sm {
    flex-direction: column;
  }
  .image-wrapper {
    position: relative;
    max-width: 526px;
    max-height: 304px;
    flex-shrink: 0;
    .date {
      padding: 21px 13px;
      position: absolute;
      top: 0;
      left: 32px;
      background-color: $primary-color;
      text-align: center;
      .title {
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0.76px;
        color: $black;
      }
      .desc {
        font-family: $body-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        margin-bottom: 0;
        color: $black;
      }
    }
    .arrow_button {
      width: 64px;
      height: 64px;
      border-radius: 50px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      border: 1px solid $gray-4;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
    }
  }
  .content-wrapper {
    padding: 42px 78px 40px 32px;
    border: 1px solid $gray-4;
    border-left: transparent;
    @include sm {
      border-left: 1px solid $gray-4;
      padding-right: 32px;
    }
    .meta {
      margin-bottom: 16px;
      ul {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-left: 0;
        margin-bottom: 16px;
        @include sm {
          gap: 8px;
          flex-wrap: wrap;
        }
        li {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.28px;
          text-transform: uppercase;
          color: $black;
          i {
            color: $primary-color;
          }
        }
      }
    }
    .title {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0.48px;
      margin-bottom: 8px;
      color: $black;
    }
    .desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.32px;
    }
    .theme-btn {
      margin-top: 32px;
      align-items: start;
      justify-content: start;
      a {
        color: $black;
      }
    }
  }
  &.style-2 {
    .image-wrapper {
      max-width: 526px;
      width: 100%;
      .image {
        max-width: 526px;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .content-wrapper {
      padding: 75px 80px;
    }
  }
  &.style-3 {
    .image-wrapper {
      .date {
        background-color: $second-primary-color;
        h3,
        p {
          color: $white;
        }
      }
    }
    .content-wrapper .meta ul li i {
      color: $second-primary-color;
    }
    .theme-btn {
      a {
        color: $black;
        border-color: $gray-4;
        &:hover {
          background-color: $second-primary-color;
          border-color: transparent;
        }
      }
    }
  }
  &.style-4 {
    .image-wrapper {
      max-width: 250px;
      max-height: 266px;
      object-fit: cover;
      img {
        width: 250px;
        height: 266px;
        object-fit: cover;
        filter: grayscale(1);
      }
    }
    .content-wrapper {
      padding: 36px 24px;
      .meta ul li i {
        color: $second-primary-color;
      }
    }
    .theme-btn {
      a {
        color: $black;
        &:hover {
          background-color: $second-primary-color;
          border-color: transparent;
        }
      }
    }
  }
  &.style-5 {
    flex-direction: column;
    .image-wrapper {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
      .date {
        left: unset;
        right: 40px;
        padding: 12px 26px;
      }
    }
    .content-wrapper {
      padding: 24px 16px;
      border-left: 1px solid $gray-4;
      .theme-btn {
        a {
          background-color: $primary-color;
          border: transparent;
        }
      }
    }
  }
}
