.donation-area {
  &.style-1 {
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: 2;
    padding: 97px 0px;
    .shape1 {
      position: absolute;
      top: -110px;
      left: 31px;
      &:hover {
        animation: MoveUpDown 2s linear infinite alternate;
      }
      @include rmaxwd(1100) {
        top: -40px;
        width: 160px;
      }
    }
    .shape2 {
      position: absolute;
      top: -110px;
      right: 31px;
      &:hover {
        animation: rotating 12s linear infinite;
      }
      @include rmaxwd(1100) {
        top: -40px;
        width: 100px;
      }
    }
    .feature-item1 {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.6;
    }
    .feature-item2 {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.6;
    }
    .donation-inner {
      .section-title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        @include rmaxwd(1100) {
          flex-direction: column;
          align-items: start;
        }
        .contact-inner {
          display: flex;
          gap: 24px;
          @include sm {
            gap: 12px;
          }
        }
        .short-title {
          color: $primary-color;
        }
        .title {
          color: $white;
        }
        .desc {
          color: $white;
        }
      }
    }
  }
}
.donate-area {
  &.style-1 {
    padding-top: 175px;
    padding-bottom: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // overflow: hidden;
    @include md {
      padding-bottom: 100px;
    }
    @include sm {
      padding-bottom: 80px;
    }
    .feature-shape {
      position: absolute;
      z-index: 20;
      top: 139px;
      left: 56px;
      width: 250px;
      height: 164px;
      animation: MoveUpDown 2s linear infinite alternate;
      @include rmaxwd(1674) {
        width: 120px;
        height: 100px;
        top: 40px;
      }
      @include rmaxwd(1000) {
        display: none;
      }
    }
    .feature-icon {
      position: absolute;
      z-index: 20;
      top: 220px;
      left: 40px;
      width: 250px;
      height: 164px;
      animation: MoveUpDown 2s linear infinite alternate;
      @include rmaxwd(1600) {
        display: none;
      }
    }
    .sketch-1 {
      position: absolute;
      right: 200px;
      bottom: 108px;
      z-index: 1;
      animation: rotating 12s linear infinite;
      @include md {
        bottom: 60px;
        right: 60px;
      }
      @include sm {
        right: 20px;
        bottom: 105px;
        width: 80px;
      }
    }
    .overlay {
      background: linear-gradient(rgba(18, 18, 18, 1), rgba(18, 18, 18, 0.5));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // opacity: 0.8;
      z-index: 0;
      &.style-2 {
        background: rgba(18, 18, 18, 0.6);
      }
    }
    .section-title {
      z-index: 10;
      position: relative;
      padding-right: 40px;
      margin-bottom: 48px;
      .short-title {
        color: $primary-color;
      }
      .title {
        color: $white;
      }
      .desc {
        margin-top: 32px;
        color: $white;
      }
    }
  }
}
// Donation Form
.donate-form {
  padding: 60px;
  margin: 0 5px;
  background-color: $black;
  z-index: 20;
  position: relative;
  @include sm {
    padding: 40px;
    margin-bottom: 50px;
  }
  &.style-2 {
    background-color: $bg-color;
    .progress-content-outter {
      .progress-content {
        background-color: $second-primary-color;
      }
      .circle {
        background-color: $second-primary-color;
      }
    }
    .input-icon {
      background-color: $second-primary-color;
    }
    .value-list {
      .value {
        border-color: $gray-2;
        color: $gray-4;
        &:hover {
          border-color: $second-primary-color;
          color: $white;
          &:before {
            background: $second-primary-color;
            border-color: $second-primary-color;
          }
        }
        &.active {
          background-color: $gray-2;
          color: $white !important;
        }
      }
    }
  }
  .theme-btn {
    &.style-1 {
      padding: 17px 32px !important;
    }
    &.style-2 {
      a {
        padding: 16px 24px !important;
        background-color: $primary-color;
        color: $black;
        border-color: transparent;
        &:hover {
          color: $white !important;
          border-color: transparent;
        }
      }
    }
  }
  .sub-title {
    font-family: $heading-font;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.36px;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor: default;
    @include sm {
      font-size: 14px;
    }
  }
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    h5 {
      cursor: default;
      color: $white;
      @include sm {
        font-size: 18px;
      }
    }
  }
  .form-title {
    color: $white !important;
    cursor: default;
    @include rmaxwd(767) {
      font-size: 32px;
    }
    @include rmaxwd(767) {
      font-size: 32px;
    }
    @include rmaxwd(500) {
      font-size: 22px;
    }
  }
  .desc {
    font-family: $body-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
    letter-spacing: 0.36px;
    margin-top: 16px;
    margin-bottom: 48px;
    color: $white;
    cursor: default;
    @include sm {
      margin-bottom: 20px;
    }
  }
  .progress-content-outter {
    height: 8px;
    background-color: #e7eaec;
    display: flex;
    .progress-content {
      height: 8px;
      background: $primary-color;
      width: 0%;
      position: relative;
    }
    .circle {
      position: relative;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      background-color: $primary-color;
      display: block;
      top: -4px;
      left: -4px;
    }
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $white;
    margin-top: 48px;
    border-radius: 4px;
    overflow: hidden;
  }
  .donate-input-field {
    padding: 22px 10px 21px 10px;
    font-family: $heading-font;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%; /* 36.4px */
    letter-spacing: 0.56px;
    color: $black-2;
    width: 100%;
    height: 60px;
    @include rmaxwd(460) {
      font-size: 14px;
      padding: 8px;
    }
  }
  .input-icon {
    width: 65px;
    height: 60px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sm {
      height: 60px;
    }
    i {
      color: $black-2;
    }
  }
  .value-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    margin: 48px 0;
    padding-left: 0;
    @include sm {
      gap: 8px;
    }
    .value {
      cursor: pointer;
      width: 120px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $white;
      border-radius: 4px;
      color: $white;
      font-family: $heading-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.32px;
      text-align: center;
      @include transition;
      position: relative;
      &:before {
        position: absolute;
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        background: $primary-color;
        content: "";
        @include transition;
        z-index: -1;

        border-color: $primary-color;
      }
      @include sm {
        width: 48%;
      }
      &.active {
        background-color: $white;
        color: $black-2;
        border-color: transparent;
      }
      &.style-2 {
        &.active {
          background-color: $white;
          color: $black-2;
          border-color: $primary-color;
        }
      }
      &:hover {
        border-color: $primary-color;
        color: $black-2 !important;
        &:before {
          background: $primary-color;
          width: 100%;
          @include transition;
        }
        &.style-2 {
          background-color: $white;
          color: $black-2;
          border-color: $white;
        }
      }
    }
  }
}
