.video-popup-card {
  position: relative;
  padding: 10px;
  background-color: transparent;
  overflow: hidden;
  text-align: right;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  gap: 43px;
  z-index: 3;
  @include sm{
    text-align: left;
    justify-content: start;
    align-items: start;
  }
  .video-popup-btn {
    border: 2px dashed $white;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    @include md {
      width: 120px;
      height: 120px;
    }
    @include sm {
      width: 100px;
      height: 100px;
    }
    a {
      width: 130px;
      height: 130px;
      background: #ED3B3B;
      opacity: 0.7;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      animation: ripple 3s infinite;
      display: flex;
      align-items: center;
      justify-content: center;


      @include md {
        width: 100px;
        height: 100px;
      }
      @include sm {
        width: 80px;
        height: 80px;
      }

      i {
        color: $white;
        font-size: 40px;
      }
    }
  }
  .video-desc{
    p{
      font-family: $body-font;
      font-size: 16px;
      font-weight: 400;
      line-height: 29px;
      margin-bottom: 0;
      color: $white;
    }

  }

  // Style Two
  &.style-two {
    padding: 0;
    margin-bottom: -78px;
    box-shadow: none;

    @include rmaxwd(991) {
      margin-bottom: 80px;
    }

    .video-popup-btn {
      a {
        width: 100px;
        height: 100px;
        background-color: rgba(255, 103, 49, 0.84);
        background-image: none;
      }
    }
  }
  &.style-three {
    overflow: visible;
    padding: 0;
    box-shadow: none;

    .video-popup-image {
      border-radius: 12px;
      overflow: hidden;
    }
    .video-popup-btn {
      left: 0;
      @include rmaxwd(1199) {
        left: 50%;
      }
      a {
        width: 135px;
        height: 135px;
        @include gradient-color-red;

        @include rmaxwd(767) {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
