.about-info-card {
    &.style-two {
      .about-info-content {
        gap: 16px;

        .icon-card-wrapper {
          display: flex;
          justify-content: space-between;
          gap: 0 20px;
          margin-bottom: 5px;

          .icon-card {
            width: 50%;
            padding: 0;
            gap: 20px;
            margin-bottom: 0;

            .icon {
              width: 42px;
              height: 42px;
              margin-top: 13px;
            }
            .content {
              gap: 4px;

              .title {
                font-size: 18px;
              }
            }
          }
        }
        .btn-wrapper {
          margin-top: 25px;
        }
        .skill-and-video-wrapper {
          display: flex;
          gap: 30px;
          align-items: center;

          @include sm {
            flex-direction: column-reverse;
          }

          .video-popup-card {
            width: 43%;
            box-shadow: none;
            padding: 0;

            @include sm {
              width: 100%;
            }
            &:before {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              content: "";
              background: rgb(0,91,172);
              background: linear-gradient(135deg, rgba(0,91,172,0.6) 0%, rgba(30,174,152,0.6) 100%);
            }

            .video-popup-btn {
              a {
                  width: 60px;
                  height: 60px;
                  background-color: $orange-color;
                  background-image: none;
              }
            }
          }
        }
      }
    }
}