.community-item{
    &.style-two{
        display: flex;
        gap: 20px;
        @include lg{
            flex-direction: row;
            align-items: center;
        }
        @include rmaxwd(991){
            align-items: center;
        }
        &:hover{
            .icon{
                span{
                    background-color: $primary-color;
                    i{
                        transform: rotateY(360deg);
                    }
                }
            }
        }
        .icon{
            // margin-right: 20px;
            background-color: $black;
            width: 71px;
            height: 71px;
            border-radius: 5px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 40px;
                color: $white;
                line-height: 71px;
                @include transition;
            }
        }
        .title{
            color: $black;
            font-size: 30px;
            line-height: 35px;
            font-family: $heading-font;
            font-weight: 400;
            margin-bottom: 0;
            @include sm{
                font-size: 27px;
                line-height: 30px;
            }
        }
    }
}