.project{
    .project-card-wrapper{
        

        
        .card-box {
            opacity: 0;
            padding:30px 60px;
            background:#151515;
            top:45%;
            left:5%;
            .card-contents{
                .card-text{
                    h6{
                        font-family: 'Teko';
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 17px;
                        letter-spacing: 0.1em;
                        text-align: left;
                        color: #ED3B3B;
                        
                    }
                    h3{
                        font-family: 'Teko';
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 32px;
                        letter-spacing: 0em;
                        color: #fff;
                    }
                }

                .card-icon {
                    right: -50%;
                    top:5%;
                    
                i{
                    padding: 10px;
                    font-size: 30px;
                    border-radius: 50%;
                    color: #151515;
                    background:#ED3B3B;
                }
                }
            }

            
        }
        
        &:hover {
        
            .card-box {
                opacity: 1;
            }
         }

    }

    
}