.counter-card {
  &.style-2 {
    .image-wrapper {
      position: relative;
      .tag {
        background-color: $second-primary-color;
        color: $black;
      }
      .image {
        img {
        }
      }
    }
    .content-wrapper {
      border-color: $gray-4;

      .title {
        color: $black;
      }
      .desc-wrapper {
        color: $black;
        span {
          color: $gray-3;
        }
        p {
          color: $black;
        }
      }
      .theme-btn {
        a {
          color: $black;
        }
      }
    }
  }
}
